xsd/PacBioReagentKit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by efayad@pacificbiosciences.com (Pacific Biosciences) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://pacificbiosciences.com/PacBioReagentKit.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pbbase="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" xmlns:pbdm="http://pacificbiosciences.com/PacBioDataModel.xsd" targetNamespace="http://pacificbiosciences.com/PacBioReagentKit.xsd" elementFormDefault="qualified" id="PacBioReagentKit">
	<xs:import namespace="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" schemaLocation="PacBioBaseDataModel.xsd"/>
	<xs:element name="PacBioReagentKit">
		<xs:annotation>
			<xs:documentation>The root element of the reagent kit standalone file</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReagentKit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reagent" type="ReagentType"/>
	<xs:element name="ReagentKit" type="ReagentKitType"/>
	<xs:element name="ReagentTube" type="ReagentTubeType"/>
	<xs:element name="ReagentPlateRow" type="ReagentPlateRowType"/>
	<xs:complexType name="SupplyKitSequencing">
		<xs:annotation>
			<xs:documentation>A more specific template kit representation (includes SupplyKit fields). </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pbbase:PartNumberType">
				<xs:sequence>
					<xs:element name="ReagentAutomationName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The reagent-mixing protocol used. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReagentTubes" type="SupplyKitSequencing" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Tubes associated with the reagent kit - can have up to two; don't forget to set the location, 0 or 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SequencingChemistry" type="pbbase:SequencingChemistry" minOccurs="0"/>
					<xs:element name="SequencingKitDefinition" type="ReagentKitType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Location" type="xs:int" default="0">
					<xs:annotation>
						<xs:documentation>The location of the supply kit - for a reagent plate, it could be 0 or 1, and for a tube it could be 0 or 1</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxCollections" type="xs:int" default="8">
					<xs:annotation>
						<xs:documentation>The number of collections this supply kit is capable of</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReagentType">
		<xs:complexContent>
			<xs:extension base="pbbase:BaseEntityType">
				<xs:attribute name="ReagentKey" type="ReagentKey" use="required"/>
				<xs:attribute name="PlateColumn" type="xs:string" use="required"/>
				<xs:attribute name="Volume" type="xs:int" use="required"/>
				<xs:attribute name="DeadVolume" type="xs:int" use="required"/>
				<xs:attribute name="ActiveInHour" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReagentKitType">
		<xs:complexContent>
			<xs:extension base="pbbase:BaseEntityType">
				<xs:sequence>
					<xs:element name="Reagents">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Reagent" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReagentTubes">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ReagentTube" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReagentPlateRows">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ReagentPlateRow" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="pbbase:ChemistryConfig"/>
					<xs:element ref="pbbase:Defaults" minOccurs="0"/>
					<xs:element name="Automations" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Automations that are deemed compatible with this kit.  Parameters specified within an automation will override a parameter with the same name and data type specified in the above Defaults section</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Automation" type="pbbase:AutomationType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="ProductCode" type="xs:string"/>
				<xs:attribute name="PlateType" type="xs:string"/>
				<xs:attribute name="ActiveInHour" type="xs:int"/>
				<xs:attribute name="BasesPerSecond" type="xs:decimal"/>
				<xs:attribute name="AcquisitionCount" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReagentTubeType">
		<xs:complexContent>
			<xs:extension base="pbbase:BaseEntityType">
				<xs:attribute name="ProductCode" type="xs:string" use="required"/>
				<xs:attribute name="ReagentKey" type="ReagentKey" use="required"/>
				<xs:attribute name="Volume" type="xs:short" use="required"/>
				<xs:attribute name="UsageVolume" type="xs:double" use="required"/>
				<xs:attribute name="UsageKey" type="xs:string" use="required"/>
				<xs:attribute name="DeadVolume" type="xs:short" use="required"/>
				<xs:attribute name="ActiveInHour" type="xs:int" use="required"/>
				<xs:attribute name="TubeWellType" type="TubeSize" use="required"/>
				<xs:attribute name="ReagentTubeType" type="TubeLocation" use="required"/>
				<xs:attribute name="InitialUse" type="xs:dateTime" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReagentPlateRowType">
		<xs:complexContent>
			<xs:extension base="pbbase:BaseEntityType">
				<xs:attribute name="PlateRow" type="xs:string" use="required"/>
				<xs:attribute name="InitialUse" type="xs:dateTime" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TubeLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ReagentTube0"/>
			<xs:enumeration value="ReagentTube1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TubeSize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DeepTube"/>
			<xs:enumeration value="ShallowTube"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReagentKey">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Base"/>
			<xs:enumeration value="DTT"/>
			<xs:enumeration value="DilBuffer"/>
			<xs:enumeration value="MineralOil"/>
			<xs:enumeration value="MIXED_DilBuffer"/>
			<xs:enumeration value="MIXED_OS"/>
			<xs:enumeration value="OSbuffer"/>
			<xs:enumeration value="OSenzyme"/>
			<xs:enumeration value="PhospholinkedNT"/>
			<xs:enumeration value="SABuffer"/>
			<xs:enumeration value="Spike"/>
			<xs:enumeration value="Streptavidin"/>
			<xs:enumeration value="SubstrateOS"/>
			<xs:enumeration value="TSQ"/>
			<xs:enumeration value="WashBuffer"/>
			<xs:enumeration value="WettingBuffer"/>
			<xs:enumeration value="PCA"/>
			<xs:enumeration value="PCD"/>
			<xs:enumeration value="Analog"/>
			<xs:enumeration value="Sample"/>
			<xs:enumeration value="PEGDilBuffer"/>
			<xs:enumeration value="ExtraBuffer"/>
			<xs:enumeration value="PrewetBuffer"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
