xsd/PacBioDeclData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UOM" type="xs:string"/>
	<xs:element name="Name" type="xs:anyURI"/>
	<xs:element name="Scope" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="Version" type="T_Version"/>
	<xs:element name="Category" type="xs:string"/>
	<xs:element name="DeclData" type="T_DeclData"/>
	<xs:element name="Specifier" type="T_Specifier"/>
	<xs:element name="ValueType" type="xs:string"/>
	<xs:element name="DeclDataSet" type="T_DeclDataSet"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="ComplexValue" type="xs:string"/>
	<xs:element name="DefaultValue" type="xs:string"/>
	<xs:element name="Classification" type="xs:string"/>
	<xs:complexType name="T_DeclData">
		<xs:sequence>
			<xs:element ref="Classification"/>
			<xs:element ref="Name"/>
			<xs:element ref="Description"/>
			<xs:element ref="Category"/>
			<xs:element ref="DefaultValue"/>
			<xs:element ref="Value"/>
			<xs:element ref="ValueType"/>
			<xs:element ref="UOM"/>
			<xs:element ref="Scope"/>
			<xs:element ref="Version"/>
			<xs:element ref="Specifier"/>
			<xs:element ref="ComplexValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Specifier">
	</xs:complexType>
	<xs:complexType name="T_DeclDataSet">
		<xs:sequence>
			<xs:element ref="DeclData" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_Version">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
