xsd/PacBioAutomationConstraints.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by efayad@pacificbiosciences.com (Pacific Biosciences) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://pacificbiosciences.com/PacBioAutomationConstraints.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xi="http://www.w3.org/2003/XInclude" xmlns:pbbase="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" xmlns:pbrk="http://pacificbiosciences.com/PacBioReagentKit.xsd" xmlns:pbpn="http://pacificbiosciences.com/PacBioPartNumbers.xsd" targetNamespace="http://pacificbiosciences.com/PacBioAutomationConstraints.xsd" elementFormDefault="qualified" id="PacBioAutomationConstraints">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
  <xs:import namespace="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" schemaLocation="PacBioBaseDataModel.xsd"/>
  <xs:import namespace="http://pacificbiosciences.com/PacBioReagentKit.xsd" schemaLocation="PacBioReagentKit.xsd"/>
  <xs:import namespace="http://pacificbiosciences.com/PacBioPartNumbers.xsd" schemaLocation="PacBioPartNumbers.xsd"/>
  <!-- jaxb will export this as a class -->
  <xs:element name="PacBioAutomationConstraints">
    <xs:annotation>
      <xs:documentation>The root element of the Automation Constraints </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="PacBioAutomationConstraintsType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- All complex types will be exported as classes from jaxb -->
  <xs:complexType name="AutomationConstraint">
    <xs:complexContent>
      <xs:extension base="pbbase:AutomationConstraintType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AutomationConstraints">
    <xs:sequence>
      <xs:element name="AutomationConstraint" type="AutomationConstraint" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PacBioAutomationConstraintsType">
    <xs:sequence>
      <!-- Types can't be defined here, otherwise they will be ignored in the Java
			class generation. The type needs to pushed up to root level complexType -->
      <xs:element name="AutomationConstraints" type="AutomationConstraints"/>
      <xs:element ref="pbpn:PacBioPartNumbers" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Version" type="xs:string"/>
    <xs:attribute name="Description" type="xs:string"/>
  </xs:complexType>
</xs:schema>
