xsd/PacBioPartNumbers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<!-- edited with XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) by efayad@pacificbiosciences.com (Pacific Biosciences) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://pacificbiosciences.com/PacBioPartNumbers.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xi="http://www.w3.org/2003/XInclude" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:pbbase="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" xmlns:pbdm="http://pacificbiosciences.com/PacBioDataModel.xsd" xmlns:pbrk="http://pacificbiosciences.com/PacBioReagentKit.xsd" targetNamespace="http://pacificbiosciences.com/PacBioPartNumbers.xsd" elementFormDefault="qualified" id="PacBioPartNumbers">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
	<xs:import namespace="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" schemaLocation="PacBioBaseDataModel.xsd"/>
	<xs:import namespace="http://pacificbiosciences.com/PacBioReagentKit.xsd" schemaLocation="PacBioReagentKit.xsd"/>
	<xs:element name="PacBioPartNumbers" type="PacBioPartNumbersType">
		<xs:annotation>
			<xs:documentation>The root element of the Part Numbers </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SequencingKit" type="pbrk:SupplyKitSequencing"/>
	<xs:element name="BindingKit" type="pbbase:SupplyKitBinding"/>
	<xs:element name="TemplatePrepKit" type="pbbase:SupplyKitTemplate"/>
	<xs:element name="ControlKit" type="pbbase:SupplyKitControl"/>
	<xs:element name="CellPackKit" type="pbbase:SupplyKitCellPack"/>
	<xs:element name="OtherKit">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pbbase:PartNumberType">
					<xs:attribute name="MaxCollections" type="xs:int"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="PartTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WFA"/>
			<xs:enumeration value="BDK"/>
			<xs:enumeration value="TPK"/>
			<xs:enumeration value="SQK"/>
			<xs:enumeration value="CPK"/>
			<xs:enumeration value="OSE"/>
			<xs:enumeration value="CMO"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PacBioPartNumbersType">
		<xs:sequence>
			<xs:element ref="pbbase:KeyValueMap"/>
			<xs:element name="Automations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Automation" type="pbbase:AutomationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BindingKits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List the binding kit part numbers.  A list of incompatible part numbers and automations is available to specify in the PartNumber subtype.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="BindingKit" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TemplatePrepKits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List the sample prep kit part numbers.  A list of incompatible part numbers and automations is available to specify in the PartNumber subtype.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="TemplatePrepKit" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SequencingKits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List the sequencing kit part numbers.  A list of incompatible part numbers and automations is available to specify in the PartNumber subtype.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="SequencingKit" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ControlKits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List the DNA control complex part numbers.  A list of incompatible part numbers and automations is available to specify in the PartNumber subtype.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ControlKit" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CellPackKits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List the cell tray part numbers.  A list of incompatible part numbers and automations is available to specify in the PartNumber subtype.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="CellPackKit" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OtherKits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A placeholder for miscellaneous parts, such as OS Enzyme tubes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="OtherKit" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IncompatibleParts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IncompatiblePart" type="pbbase:IncompatiblePairType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
