xsd/PacBioSeedingData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Dye" type="T_Dye"/>
	<xs:element name="Dyes" type="T_Dyes"/>
	<xs:element name="User" type="T_User"/>
	<xs:element name="DependOn" type="T_DependOn"/>
	<xs:element name="Protocol" type="T_Protocol"/>
	<xs:element name="PlateType" type="T_PlateType"/>
	<xs:element name="Protocols" type="T_Protocols"/>
	<xs:element name="PlateTypes" type="T_PlateTypes"/>
	<xs:element name="DefaultUsers" type="T_DefaultUsers"/>
	<xs:element name="HiveMetadata" type="T_HiveMetadata"/>
	<xs:element name="ProtocolType" type="T_ProtocolType"/>
	<xs:element name="ReminderTask" type="T_ReminderTask"/>
	<xs:element name="ProtocolTypes" type="T_ProtocolTypes"/>
	<xs:element name="ReminderTasks" type="T_ReminderTasks"/>
	<xs:element name="DependencyItem" type="T_DependencyItem"/>
	<xs:element name="ReagentKitType" type="T_ReagentKitType"/>
	<xs:element name="ReagentKitTypes" type="T_ReagentKitTypes"/>
	<xs:element name="InstDBSeedingData" type="T_InstDBSeedingData"/>
	<xs:element name="ProductPartNumber" type="T_ProductPartNumber"/>
	<xs:element name="ProtocolParameter" type="T_ProtocolParameter"/>
	<xs:element name="PipelineDependency" type="T_PipelineDependency"/>
	<xs:element name="ProductPartNumbers" type="T_ProductPartNumbers"/>
	<xs:element name="CompatibleReagentKit" type="T_CompatibleReagentKit"/>
	<xs:element name="ProtocolTypeParameter" type="T_ProtocolTypeParameter"/>
	<xs:element name="ProtocolTypeParameters" type="T_ProtocolTypeParameters"/>
	<xs:complexType name="T_Dye">
		<xs:attribute name="Base" use="required" type="AT_37"/>
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="IsObsolete" use="required" type="xs:boolean"/>
		<xs:attribute name="Nucleotide" use="required" type="AT_5"/>
		<xs:attribute name="WaveLength" use="required" type="AT_5"/>
		<xs:attribute name="DyeConcentration" use="required" type="AT_5"/>
	</xs:complexType>
	<xs:complexType name="T_Dyes">
		<xs:sequence>
			<xs:element ref="Dye" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_User">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="Role" use="required" type="xs:string"/>
		<xs:attribute name="Email" use="required" type="xs:string"/>
		<xs:attribute name="LastName" use="required" type="xs:string"/>
		<xs:attribute name="Password" use="required" type="xs:string"/>
		<xs:attribute name="FirstName" use="required" type="xs:string"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
		<xs:attribute name="PhoneNumber" use="required" type="AT_5"/>
	</xs:complexType>
	<xs:complexType name="T_DependOn">
		<xs:attribute name="BindingKit" use="required" type="xs:int"/>
		<xs:attribute name="SequencingKit" use="required" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="T_Protocol">
		<xs:choice minOccurs="0">
			<xs:element ref="CompatibleReagentKit" maxOccurs="unbounded"/>
			<xs:element ref="ProtocolParameter"/>
		</xs:choice>
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="IsObsolete" use="required" type="xs:boolean"/>
		<xs:attribute name="InternalOnly" use="required" type="xs:boolean"/>
		<xs:attribute name="ProtocolType" use="required" type="xs:string"/>
		<xs:attribute name="PythonModule" use="required" type="xs:string"/>
		<xs:attribute name="hasPreRunTasks" use="required" type="xs:boolean"/>
		<xs:attribute name="hasPostRunTasks" use="required" type="xs:boolean"/>
		<xs:attribute name="compatibleBindingKits" type="xs:string"/>
		<xs:attribute name="compatibleChipLayouts" type="xs:string"/>
		<xs:attribute name="compatibleSamplePrepKits" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_PlateType">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="NumOfWells" use="required" type="xs:short"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
		<xs:attribute name="MaxWellVolume" use="required" type="xs:decimal"/>
		<xs:attribute name="DeadWellVolume" use="required" type="xs:decimal"/>
	</xs:complexType>
	<xs:complexType name="T_Protocols">
		<xs:sequence>
			<xs:element ref="Protocol" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_PlateTypes">
		<xs:sequence>
			<xs:element ref="PlateType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DefaultUsers">
		<xs:sequence>
			<xs:element ref="User" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_HiveMetadata">
		<xs:attribute name="HiveTableList" use="required" type="xs:string"/>
		<xs:attribute name="MetadataVersion" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ProtocolType">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="IsObsolete" use="required" type="xs:boolean"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ReminderTask">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="Interval" use="required" type="xs:string"/>
		<xs:attribute name="StartTime" use="required" type="xs:string"/>
		<xs:attribute name="IsObsolete" use="required" type="xs:boolean"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
		<xs:attribute name="DelegateName" use="required" type="xs:anyURI"/>
		<xs:attribute name="IsVisibleInUI" use="required" type="xs:boolean"/>
		<xs:attribute name="ReminderOffset" use="required" type="AT_11"/>
		<xs:attribute name="IsPreventsRunStart" use="required" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="T_ProtocolTypes">
		<xs:sequence>
			<xs:element ref="ProtocolType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ReminderTasks">
		<xs:sequence>
			<xs:element ref="ReminderTask" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_DependencyItem">
		<xs:sequence>
			<xs:element ref="DependOn"/>
		</xs:sequence>
		<xs:attribute name="ConfigFileName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ReagentKitType">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="IsObsolete" use="required" type="xs:boolean"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
		<xs:attribute name="InternalOnly" use="required" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="T_ReagentKitTypes">
		<xs:sequence>
			<xs:element ref="ReagentKitType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_InstDBSeedingData">
		<xs:sequence>
			<xs:element ref="DefaultUsers"/>
			<xs:element ref="ProtocolTypes"/>
			<xs:element ref="ProtocolTypeParameters"/>
			<xs:element ref="PlateTypes"/>
			<xs:element ref="ReagentKitTypes"/>
			<xs:element ref="Protocols"/>
			<xs:element ref="Dyes"/>
			<xs:element ref="ProductPartNumbers"/>
			<xs:element ref="PipelineDependency"/>
			<xs:element ref="ReminderTasks"/>
			<xs:element ref="HiveMetadata"/>
		</xs:sequence>
		<xs:attribute name="Version" use="required" type="xs:decimal"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ProductPartNumber">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="DyeNames" type="xs:string"/>
		<xs:attribute name="ChipLayout" type="xs:string"/>
		<xs:attribute name="IsObsolete" use="required" type="xs:boolean"/>
		<xs:attribute name="PartNumber" use="required" type="xs:int"/>
		<xs:attribute name="ControlName" type="xs:string"/>
		<xs:attribute name="Description" use="required" type="xs:string"/>
		<xs:attribute name="ProductName" use="required" type="xs:string"/>
		<xs:attribute name="PolymeraseSpeed" type="xs:decimal"/>
		<xs:attribute name="PolymeraseKinetic" type="xs:short"/>
		<xs:attribute name="ControlDisplayName" type="xs:string"/>
		<xs:attribute name="LeftPrimerSequence" type="xs:string"/>
		<xs:attribute name="LeftAdaptorSequence" type="xs:string"/>
		<xs:attribute name="RightPrimerSequence" type="xs:string"/>
		<xs:attribute name="RightAdaptorSequence" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ProtocolParameter">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="Value" use="required" type="xs:string"/>
		<xs:attribute name="ValueType" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_PipelineDependency">
		<xs:sequence>
			<xs:element ref="DependencyItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ProductPartNumbers">
		<xs:sequence>
			<xs:element ref="ProductPartNumber" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_CompatibleReagentKit">
		<xs:attribute name="PPN" use="required" type="xs:int"/>
		<xs:attribute name="MixingProtocol" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ProtocolTypeParameter">
		<xs:attribute name="Name" use="required" type="xs:string"/>
		<xs:attribute name="MethodName" use="required" type="xs:string"/>
		<xs:attribute name="PythonModule" use="required" type="xs:string"/>
		<xs:attribute name="ProtocolTypes" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ProtocolTypeParameters">
		<xs:sequence>
			<xs:element ref="ProtocolTypeParameter" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AT_5">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_11">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_37">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
